{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for("static", filename="styles/home.css") }}">
{% endblock %}
{% block content %}
    {% if error %}
        <div class="row mb-2">
            <p id="error" class="alert alert-danger">{{ error }}</p>
        </div>
    {% endif %}
    <div class="row mb-2">
        <h1 id="username">Witaj, {{ current_user.username }}</h1>
        <div class="dropdown-center">
            <button class="btn" type="button" id="optionsDropdownButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="optionsDropdownButton">
                <li>
                    <form action="{{ url_for('auth.logout') }}" method="post">
                        <button type="submit" class="dropdown-item">Wyloguj się</button>
                    </form>
                </li>
                <li>
                    <button class="dropdown-item" id="exportBtn" data-bs-toggle="modal" data-bs-target="#exportKeysModal">Eksportuj klucze</button>
                </li>
            </ul>
        </div>
        <h5 class="mb-2">Dostępne pokoje</h5>
        {% if rooms|length == 0 %}
            <p>Brak dostępnych pokoi</p>
        {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        {% for room in rooms %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">{{ room.name }}</h4>
                        <h5>Właściciel: {{ room.owner }}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                        <a href="{{ url_for('main.room', room_code=room.code) }}" class="btn">Dołącz</a>
                        {% if current_user.username == room.owner %}
                            <form method="post" style="display: inline">
                                <input type="hidden" name="room_code" value="{{ room.code }}">
                                <button type="submit" class="btn btn-danger" style="background: darkred"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <form class="text-center" method="post" id="createForm">
        <div class="row justify-content-center">
            <div class="col-6 mb-3">
                <input type="hidden" id="aes_key" name="aes_key">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="room_name" name="room_name" aria-label="Nazwa pokoju"
                           placeholder="Fajny pokój" required/>
                    <button type="button" id="create" name="create" class="btn">Stwórz pokój</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-6">
            <button id="invitation-button" class="btn d-none" data-bs-toggle="modal" data-bs-target="#invitationModal">
                <i id="notification-bell" class="fa fa-bell"></i>
                Invitations
            </button>
        </div>
    </div>
    <div class="modal fade" id="invitationModal" tabindex="-1" aria-labelledby="invitationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="invitationModalLabel">Zaproszenia</h5>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Zamknij"><i
                            class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body list-group" id="invitation-list"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="importKeysModal" tabindex="-1" aria-labelledby="importKeysModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importKeysModalLabel">Import Kluczy</h5>
                </div>
                <div class="modal-body">
                    <p>
                        Aby móc używać serwisu, musisz zaimportować swoją parę kluczy z innego urządzenia.
                    </p>
                    <form id="importKeysForm" class="text-center">
                        <input type="file" id="keyFile" class="form-control" accept=".txt" required>
                        <br>
                        <button type="button" id="importKeysBtn" class="btn" onclick="importKeyFromFile(username)">Importuj klucze</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exportKeysModal" tabindex="-1" aria-labelledby="exportKeysModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportKeysModalLabel">Export Kluczy</h5>
                    <button type="button" id="close-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
                </div>
                <div class="modal-body col">
                    <p>
                        Aby móc używać serwisu na innym urządzeniu, musisz wyeksportować swoją parę kluczy do innego urządzenia.
                    </p>
                    <form id="exportKeysForm" class="text-center">
                        <button type="button" id="exportKeysBtn" class="btn" onclick="exportKeysToFile(username)">Eksportuj do pliku</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/dataUtils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aesKeyGen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyExport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyCheck.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyImport.js') }}"></script>
    <script type="text/javascript">
        let invitationButton = $('#invitation-button');
        let invitationList = $('#invitation-list');
        let username = "{{ current_user.username }}";

        function checkInvitations() {
            $.get('/invitations/{{ current_user.id }}', function (data) {
                /**
                 * @typedef {Object} invitation
                 * @property {number} id - ID zaproszenia
                 * @property {string} room_code - Kod pokoju, do którego zaproszenie zostało wysłane
                 * @property {string} room_name - Nazwa pokoju, do którego zaproszenie zostało wysłane
                 * @property {string} sender - Nadawca zaproszenia
                 */

                /**
                 * @type {Object}
                 * @property {invitation[]} invitations - Tablica zaproszeń
                 * @property {string} [error] - Wiadomość o błędzie, jeżeli taki wystąpił
                 */
                if (data.error) {
                    invitationButton.addClass('d-none');
                } else {
                    invitationList.empty();
                    let invitations = data.invitations;
                    invitations.forEach(function (invitation) {
                        let listItem = $('<p class="list-group-item"></p>');
                        listItem.text(invitation.sender + ' zaprosił(a) cię do pokoju: ' + invitation.room_name + '. ');
                        let acceptButton = $('<button class="btn">Akceptuj</button>');
                        acceptButton.click(function () {
                            /**
                             * Wysyła zapytanie POST do serwera, akceptując zaproszenie.
                             * @returns {Object} data - Dane zwrócone przez serwer.
                             */
                            $.post('/accept_invitation/' + invitation.id, function (data) {
                                /**
                                 * @typedef {Object} data
                                 * @property {string} [error] - Wiadomość o błędzie, jeżeli wystąpił błąd podczas akceptacji zaproszenia.
                                 * @property {string} [message] - Wiadomość o sukcesie akceptacji zaproszenia, jeżeli nie wystąpił błąd.
                                 */
                                if (data.error) {
                                    alert(data.error);
                                } else {
                                    location.reload();
                                }
                            });
                        });
                        listItem.append(acceptButton);
                        invitationList.append(listItem);
                    });
                    invitationButton.removeClass('d-none');
                }
            });
        }

        $(document).ready(function () {
            $('#exportBtn').click(function () {
                console.log(username)
                exportKeys(username);
            });
            checkForKeys(username);

            $('#create').click(async function () {
                let room_name = $('#room_name').val();
                if (room_name.length > 0) {
                    let encrypted_key = await process(username);
                    $('#aes_key').val(encrypted_key);
                    $('#createForm').submit();
                }
            });
            checkInvitations();
            setInterval(checkInvitations, 5000);
        });
    </script>
{% endblock %}
