{% extends 'base.html' %} {% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="row m-2">
                <p id="error" class="alert alert-{{ category }}">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="post" class="col col-lg-4 offset-lg-4 mt-3 p-3">
    {{ form.hidden_tag() }}
    <div class="row mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="row mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    {{ form.submit(class="btn") }}
</form>
    <p>Nie masz konta? <a href="{{ url_for('auth.register') }}">Zarejestruj </a>się!</p>
{% endblock %}
{% block scripts %}
{% endblock %}