{% extends 'base.html' %} {% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="row m-2">
                <p id="error" class="alert alert-{{ category }}">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="post">
    {{ form.hidden_tag() }}
    <input type="hidden" id="publicKey" name="public_key">
    <div class="row my-3">
        {{ form.username.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.username(class="form-control") }}
        </div>
    </div>
    <div class="row mb-3">
        {{ form.password.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.password(class="form-control") }}
        </div>
    </div>
    <div class="row mb-3">
        {{ form.confirm_password.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ form.confirm_password(class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <button type="button" id="submitButton" class="btn">
                Prześlij
            </button>
        </div>
    </div>
</form>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/dataUtils.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rsaKeyGen.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#submitButton').on('click', async function () {
                console.log('generating key pair')
                let username = $('#username').val();
                let publicKey = await generateAndStoreKeyPair(username);
                console.log('key pair generated')
                $('#publicKey').val(publicKey);
                $('form').submit();
            });
        });
    </script>
{% endblock %}