{% extends 'base.html' %}
{% block content %}
    <div class="alert alert-danger d-none" id="error" role="alert">
        <p id="errortext"></p>
    </div>
    <form method="post" class="col col-lg-4 offset-lg-4 mt-3 p-3">
        {{ form.hidden_tag() }}
        <input type="hidden" id="publicKey" name="public_key">
        <div class="row my-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="row mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="row mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-1">
                <button type="button" id="submitButton" class="btn">
                    Prześlij
                </button>
            </div>
        </div>
        <div class="row">
            <p>Masz już konto? <a href="{{ url_for("auth.login") }}">Zaloguj</a> się.</p>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/dataUtils.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rsaKeyGen.js') }}"></script>
    <script>
        $(document).ready(function () {
            let error = $('#error');
            let errortext = $('#errortext');
            $('#submitButton').on('click', async function () {
                let username = $('#username').val();
                let password = $('#password').val();
                let confirmPassword = $('#confirm_password').val();
                if (password !== confirmPassword) {
                    errortext.text('Podane hasła nie są identyczne');
                    error.removeClass('d-none');
                    return;
                }
                if (password.length < 8) {
                    errortext.text('Hasło musi mieć co najmniej 8 znaków');
                    error.removeClass('d-none');
                    return;
                }
                $.get('/check_if_user_exists/' + username, async function (data) {
                    if (data.exists) {
                        errortext.text('Użytkownik o podanej nazwie już istnieje');
                        error.removeClass('d-none');
                    } else {
                        let publicKey = await generateAndStoreKeyPair(username);
                        $('#publicKey').val(publicKey);
                        $('form').submit();
                    }
                });
            });
        });
    </script>
{% endblock %}