{% extends 'base.html' %} {% block content %}
    <div class="row" id="room-info">
        <div class="col text-start">
            <h2>
                Room Code:
                <span id="room-code"
                      data-toggle="popover"
                      data-content="Click to copy">
                    {{ room.code }}
                </span>
            </h2>
            <a class="btn btn-danger mb-2 mt-2" href="{{ url_for('main.home') }}" id="leave-chat-btn">
                Leave the room
            </a>
            <hr class="mb-2"/>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col m-3 p-3 rounded-4 overflow-auto" id="messages"></div>
    </div>
    <div class="row pb-2 mx-2" id="input">
        <div class="col-12 col-xl-8 offset-xl-2">
            <div class="input-group mb-2">
                <input
                        class="form-control"
                        type="text"
                        id="message-input"
                        placeholder="Enter your message"
                />
                <button class="btn" type="submit" id="send-btn" onclick="sendMessage()">
                    Send
                </button>
                <button class="btn" type="button" id="record-btn" onclick="toggleRecording()">
                    Record
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
            integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>
    <script>
        var currentUser = "{{ current_user.username }}";
        var roomCode = "{{ room.code }}"
    </script>
    <script src="{{ url_for('static',filename='js/room.js') }}"></script>
{% endblock %}
