{% extends 'base.html' %} {% block content %}
    <div class="row" id="room-info">
        <div class="col text-start">
            <h2>
                Room: {{ room.name }}
            </h2>
            <a class="btn btn-danger mb-2 mt-2" href="{{ url_for('main.home') }}" id="leave-chat-btn">
                Leave the room
            </a>
            <button type="button" id="invite-user" class="btn" data-bs-toggle="modal" data-bs-targer="#inviteUserModal">
                Invite a user
            </button>
            <div class="modal fade" id="inviteUserModal" tabindex="-1" aria-labelledby="inviteUserModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="inviteUserModalLabel">Invite a User</h5>
                            <button type="button" id="close-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="inviteUserForm">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                    <button type="button" id="search-btn" class="btn">Search</button>
                                    <select id="user-list" class="form-select"></select>
                                </div>
                                <button type="button" id="invite-btn" class="btn">Invite</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-2"/>
            <span>
                Users: {% for user in room.members %} {{ user.username }} {% endfor %}
            </span>
            <hr class="mb-2">
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col m-3 p-3 rounded-4 overflow-auto" id="messages"></div>
    </div>
    <div class="row pb-2 mx-2" id="input">
        <div class="col-12 col-xl-8 offset-xl-2">
            <div class="input-group mb-2">
                <input
                        class="form-control"
                        type="text"
                        id="message-input"
                        placeholder="Enter your message"
                />
                <button class="btn" type="submit" id="send-btn" onclick="sendMessage()">
                    Send
                </button>
                <button class="btn" type="button" id="record-btn" onclick="toggleRecording()">
                    Record
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/dataUtils.js') }}"></script>
    <script type="text/javascript">
        var currentUser = "{{ current_user.username }}";
        var currentUserId = "{{ current_user.id }}";
        var roomCode = "{{ room.code }}";
        var roomName = "{{ room.name }}";
        var encAESKey = "{{ enc_aes_key }}";
        var aesKey;
    </script>
    <script src="{{ url_for('static', filename='js/aesUtils.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(async function() {
            aesKey = await decryptAESKey();
        });
    </script>
    <script src="{{ url_for('static',filename='js/messageHandler.js') }}"></script>
    <script src="{{ url_for('static',filename='js/userInvite.js') }}"></script>
{% endblock %}
