#notification-bell {
    animation: bell 1s infinite;
}

@keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(-20deg); }
    30% { transform: rotate(20deg); }
    40% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(-5deg); }
    70% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
}