.btn,
#heading,
#footer,
.self-message-item{
  background: var(--bs-indigo);
  color: var(--bs-white);
}
.btn:hover{
  background: #560dce;
}
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(50,50,50,0.3);
    color: white;
    padding: 40px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}
#messages {
  background: var(--bs-tertiary-bg);
}
#room-main {
  background: var(--bs-secondary-bg);
}

.peer-message-item {
  background: var(--bs-secondary-bg);
}

#room-code,
#room-code-cb {
  color: var(--bs-indigo);
}

#room-code:hover {
  color: var(--bs-white);
}

::-webkit-scrollbar {
  background: var(--bs-secondary-bg);
  border-radius: 1rem;
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-indigo);
  border-radius: 1rem;
}

audio {
  max-height: 40px;
  max-width: 400px;
  padding-top: 4px;
}

#invitation-button {
    display: none;
}

#notification-bell {
    animation: bell 1s infinite;
}

@keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(-20deg); }
    30% { transform: rotate(20deg); }
    40% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(-5deg); }
    70% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
}